
#searchInput{     /*it is for search site*/
   width:150px;
   
}
.panels{                     /*panels of second page*/
   margin-top: 100px;
}
.panels-1{
   margin-top: 20px;
}
.panels-2{
   margin-top: 20px;
}

.nav-things{                /* items of nav-bar*/
   margin-top: 10px;
   font-family: 'Coming Soon', cursive;
   font-size: 18px;

}

#myCarousel{
   position: 200px 0px 0px 0px;
}
.navbar-default{
   background-color:skyblue;
   margin-bottom: 0;
   color: black;

}


footer a{                  /*footer*/
   color: white;
   
}
footer{
   background-color:skyblue;
   text-align: justify;


}
footer li {
   list-style: none;
   text-decoration: none;
   font-size:15px;
          }     
.google-fonts{              /*it is for text font*/

   font-family: 'Coming Soon', cursive;
   text-align:justify;
}


.carousel-caption{         /*carousel*/
   font-size: 20px;
}
.carousel-caption h4{
   font-size: 40px;
}

@media (max-width:480px){
   #myCarousel .item {
      height: 300px;
       width: 100%;
      
   }

   #slide1{
      background: url(../../images/bullet1-small.jpg)top center no-repeat;
     background-size: 100% 100%;

   }
   #slide2{
      background: url(../../images/bullet2-small.jpg)top center no-repeat;
      background-size: 100% 100%;

   } 
   #slide3{
      background: url(../../images/bullet3-small.jpg)top center no-repeat;
      background-size: 100% 100%;

   }
}

@media (max-width:700px) {
 #myCarousel .item {
   height: 400px;   
     width: 100%;
     padding-top: 90px;
   
}

#slide1{
   background: url(../../images/bullet1-medium.jpg)top center no-repeat;
   background-size: 100% 100%;
       }
#slide2{
   background: url(../../images/bullet2-medium.jpg) top center no-repeat;
       background-size: 100% 100%;}
#slide3{
   background: url(../../images/bullet3-medium.jpg)top center no-repeat;
      background-size: 100% 100%; }
}

@media (min-width:700px) {
   #myCarousel .item
    {
      height: 600px;   
      width: 100%;
      padding-top: 90px;
    }

   #slide1{
      background: url(../../images/bullet1-large.jpg)top center no-repeat;
      background-size: 100% 100%;   }
   #slide2{
      background: url(../../images/bullet2-large.jpg)top center no-repeat;
      background-size: 100% 100%;           }
   #slide3{
      background: url(../../images/bullet3-large.jpg)top center no-repeat;
      background-size: 100% 100%;
   }

}
.page-header{          /*it is for well*/
   margin-top: 20px;   
}

.page-header h1{        /*it is for heading of well*/
   margin-top:20px;
}

.well{                
  margin-top: 50px;

}

#features{             /* it is for panelse of first page*/
   margin-top: 20px;
   
}

.tab-pane img{             /*it is for tab section*/
   margin-right: 20px;

}
